@import "fonts.css";

html {
  min-height: 100vh;
  --blue: #007bb5;
  --green: #1ddb3c;
  --red: #e31616;
  --base-00: #fff;
  --base-01: #f2f4f8;
  --base-02: #d1d4d8;
  --base-03: #81858b;
  --base-04: #616161;
  --base-05: #3a3a3a;
  --base-06: #252628;
  --base-07: #1b1c1e;
  --accent: linear-gradient(90deg, #872fea 0%, #0accde 100%);
  --accent-deep: linear-gradient(
    90deg,
    rgba(138, 43, 234, 0.8) 0%,
    rgba(5, 210, 221, 0.8) 102.05%
  );
}

.dark {
  --app-background: linear-gradient(#000000, #000000);
  --app-font-color: var(--base-00);
  --toastify-color-dark: var(--base-06);
  --input-color: var(--base-03);
  --input-border-color: var(--base-03);
  --input-focus-border-color: var(--base-00);
  --token-list-item-hover-color: var(--base-06);
}

.light {
  --app-background: linear-gradient(var(--base-01), var(--base-01));
  --app-font-color: var(--base-05);
  --input-color: var(--base-05);
  --input-border-color: var(--base-05);
  --input-focus-border-color: var(--base-05);
  --token-list-item-hover-color: var(--base-01);
}

.App {
  background: var(--app-background);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: var(--app-font-color);
  font-family: "Futura";
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.TransferBox {
  margin-top: 70px;
}

.mobile-guide-container {
  display: none;
  text-align: center;
  font-size: 0.938rem;
  line-height: 1.25rem;
}

.mobile-guide-accent {
  color: #0accde;
}

@media all and (width < 768px) {
  .App.dark {
    --app-background: url(./images/bg-dark-mobile.svg) center fixed no-repeat,
      linear-gradient(#000000, #000000);
  }

  .container {
    align-items: center;
    height: 80vh;
  }

  .mobile-guide-container {
    display: block;
  }
}

.token-selector-max-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
